flows.json
[
    {
        "id": "3d56a2737963bc6d",
        "type": "tab",
        "label": "AQI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0fae89996d7c06e8",
        "type": "io7-hub",
        "name": "neo",
        "host": "mqtt",
        "useTLS": false,
        "knownPort": true,
        "port": "1883",
        "tls": ""
    },
    {
        "id": "1e3a0fdd50361d97",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "438f414e5cc855a9",
        "type": "ui_group",
        "name": "Default",
        "tab": "1e3a0fdd50361d97",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "59d572de10680e3f",
        "type": "mqtt-broker",
        "name": "neo",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e7d034717a778bdb",
        "type": "mqtt-broker",
        "name": "neo1",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "808952fa4340dd28",
        "type": "mqtt-broker",
        "name": "neo2",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0c4c2b7f0c356192",
        "type": "inject",
        "z": "3d56a2737963bc6d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "3777e3a504076b51"
            ]
        ]
    },
    {
        "id": "3777e3a504076b51",
        "type": "function",
        "z": "3d56a2737963bc6d",
        "name": "forecast",
        "func": "let lat = \"37.328128\";\nlet lon = \"126.689262\";\nlet key = '8d8d9d27819746b0580fa7caf1aa0020';\nmsg.url = 'http://api.openweathermap.org/data/2.5/air_pollution/forecast?appid=' + key;\nmsg.url += '&lat=' + lat + '&lon=' + lon;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "bc76a5afa447c565"
            ]
        ]
    },
    {
        "id": "bc76a5afa447c565",
        "type": "http request",
        "z": "3d56a2737963bc6d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 120,
        "wires": [
            [
                "81435dea7fc6642d"
            ]
        ]
    },
    {
        "id": "81435dea7fc6642d",
        "type": "function",
        "z": "3d56a2737963bc6d",
        "name": "dashboard",
        "func": "let getAverage = (fr, to) => {\n    fr = parseInt((new Date()).setHours(fr, 0, 0) / 1000);\n    to = parseInt((new Date()).setHours(to, 0, 0) / 1000);\n    try {\n        let list = msg.payload.list.filter(e => \n            e.dt >= fr && e.dt < to\n        );\n\n        return Math.round(list.reduce((sum, e) =>\n            sum + parseInt(e.main.aqi), 0) / list.length);\n    } catch (e) {\n        return 0;\n    }\n}\nif (typeof msg.payload == 'string')\n    msg.payload = JSON.parse(msg.payload);\n\nlet am = { payload : getAverage(12, 16)};\nlet pm = { payload : getAverage(16, 20)};\nlet night = { payload : getAverage(20, 24)};\nreturn [am, pm, night];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 120,
        "wires": [
            [
                "416eddcf2abbcd74"
            ],
            [
                "2824345f75f52560"
            ],
            [
                "3ebc7817f1242fb9"
            ]
        ]
    },
    {
        "id": "416eddcf2abbcd74",
        "type": "io7 out",
        "z": "3d56a2737963bc6d",
        "authentication": "0fae89996d7c06e8",
        "name": "neo",
        "deviceId": "neo",
        "cmd": "lights",
        "fmt": "json",
        "qos": "2",
        "retain": "false",
        "x": 970,
        "y": 80,
        "wires": []
    },
    {
        "id": "2824345f75f52560",
        "type": "io7 out",
        "z": "3d56a2737963bc6d",
        "authentication": "0fae89996d7c06e8",
        "name": "neo1",
        "deviceId": "neo1",
        "cmd": "lights",
        "fmt": "json",
        "qos": "2",
        "retain": "false",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "3ebc7817f1242fb9",
        "type": "io7 out",
        "z": "3d56a2737963bc6d",
        "authentication": "0fae89996d7c06e8",
        "name": "neo2",
        "deviceId": "neo2",
        "cmd": "lights",
        "fmt": "json",
        "qos": "2",
        "retain": "false",
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "39d77bc48e91b58d",
        "type": "mqtt in",
        "z": "3d56a2737963bc6d",
        "name": "iot3/neo/cmd/lights/fmt/json",
        "topic": "iot3/neo/cmd/lights/fmt/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "59d572de10680e3f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "39150cac1071c7a0"
            ]
        ]
    },
    {
        "id": "39150cac1071c7a0",
        "type": "function",
        "z": "3d56a2737963bc6d",
        "name": "update",
        "func": "\nmsg.payload = JSON.parse(msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 260,
        "wires": [
            [
                "b569ee2a97e14540",
                "a12dbbbb6fd6df18"
            ]
        ]
    },
    {
        "id": "a12dbbbb6fd6df18",
        "type": "debug",
        "z": "3d56a2737963bc6d",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 340,
        "wires": []
    },
    {
        "id": "9c3a08a846ddc9eb",
        "type": "mqtt in",
        "z": "3d56a2737963bc6d",
        "name": "iot3/neo1/cmd/lights/fmt/json",
        "topic": "iot3/neo1/cmd/lights/fmt/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e7d034717a778bdb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 420,
        "wires": [
            [
                "7b498af53ea15751"
            ]
        ]
    },
    {
        "id": "7b498af53ea15751",
        "type": "function",
        "z": "3d56a2737963bc6d",
        "name": "update",
        "func": "\nmsg.payload = JSON.parse(msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 420,
        "wires": [
            [
                "9fa5ce137359e602",
                "c0a7a473bc7531b5"
            ]
        ]
    },
    {
        "id": "c0a7a473bc7531b5",
        "type": "debug",
        "z": "3d56a2737963bc6d",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 500,
        "wires": []
    },
    {
        "id": "9a17689b6cd8b077",
        "type": "mqtt in",
        "z": "3d56a2737963bc6d",
        "name": "iot3/neo2/cmd/lights/fmt/json",
        "topic": "iot3/neo2/cmd/lights/fmt/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "808952fa4340dd28",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 600,
        "wires": [
            [
                "3a3e209ba10398f7"
            ]
        ]
    },
    {
        "id": "3a3e209ba10398f7",
        "type": "function",
        "z": "3d56a2737963bc6d",
        "name": "update",
        "func": "\nmsg.payload = JSON.parse(msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 600,
        "wires": [
            [
                "3f6d4e821721ca19",
                "7a70127d2f11c934"
            ]
        ]
    },
    {
        "id": "7a70127d2f11c934",
        "type": "debug",
        "z": "3d56a2737963bc6d",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 680,
        "wires": []
    },
    {
        "id": "b569ee2a97e14540",
        "type": "ui_gauge",
        "z": "3d56a2737963bc6d",
        "name": "neo/오전",
        "group": "438f414e5cc855a9",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "9fa5ce137359e602",
        "type": "ui_gauge",
        "z": "3d56a2737963bc6d",
        "name": "neo1/오후",
        "group": "438f414e5cc855a9",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 420,
        "wires": []
    },
    {
        "id": "3f6d4e821721ca19",
        "type": "ui_gauge",
        "z": "3d56a2737963bc6d",
        "name": "neo2/저녁",
        "group": "438f414e5cc855a9",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 600,
        "wires": []
    }
]